
{% extends 'coinbuzz/bases.html' %}
{%load static %}

{% block content %}  
{% include 'argon/_chipin.html' %}
    <!-- Header -->
    <!-- Header -->
    <!-- header-area start -->
   
    </style>
    <div class="header bg-primary pb-6 " style="background-color: #3fb0ac !important; ">
      <div class="container-fluid">
        <div class="header-body ">
          <div class="row align-items-center py-4">
            <!-- <div class="col-lg-12">
              {% if gold == 1 %}<h3 class="page-header"><img src="{% static 'img/bitcoin1.gif' %}" style="height:70px; margin-top:-2px;"> Gold User (VIP)</h3>{% endif %}
              {% if gold == 0 %}<h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>{% endif %}
              
            </div> -->
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">
                 ({{user.username}})</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">deposit</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              {% if gold == True %} <h6 class="h2 text-white d-inline-block mb-0">
                <img src="{% static 'statics1/assets/images/bitcoin.gif' %}" style="height:70px; margin-top:-2px;"></h6><a href="#" class="btn btn-sm btn-neutral">gold</a><br> {% else %}<a href="#" class="btn btn-sm btn-neutral">withdraw</a>
                <a href="#" class="btn btn-sm btn-neutral">deposit</a>{% endif %}
            </div>
          </div>
          <!-- Card stats -->
          <div style="overflow: auto;" class="noscroll">
            <div class="row flex-row flex-nowrap">
              <div class="col">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Trade Balance</h5>
                        <span class="h2 font-weight-bold mb-0">${{information.balance}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                          <i class="fa fa-dollar-sign"></i>
                        </div>
                      </div>
                    </div>
                    <br>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"><i class="fa fa-dollar-sign"></i> 3.48%</span>
                      <span class="text-nowrap">account balance</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Available</h5>
                        <span class="h2 font-weight-bold mb-0">${{information.amount_available}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                          <i class="fa fa-dollar-sign"></i>
                        </div>
                      </div>
                    </div>
                    <br>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                      <span class="text-nowrap">depositable</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">bitcoin to USD</h5>
                        <span class="h2 font-weight-bold mb-0">${{bitcoin}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                          <i class="ni ni-money-coins"></i>
                        </div>
                      </div>
                    </div>
                    <br>
                    
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{cardano}}</span>
                      <span class="text-nowrap">Since last day</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Bitcoin to Eur</h5>
                        <span class="h2 font-weight-bold mb-0">${{bitcoineur}}<span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                          <i class="ni ni-chart-bar-32"></i>
                        </div>
                      </div>
                    </div>
                    <br>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{nem}}</span>
                      <span class="text-nowrap">Since last 24 hours</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
    </div>
  <!-- Modal -->
  <div class="row">
          
    <div class="col-md-4">
        <button type="button" class="btn btn-block btn-warning mb-3" data-toggle="modal" data-target="#bank-notification">Notification</button>
        <div class="modal fade" id="bank-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
      <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
          <div class="modal-content bg-gradient-danger">
            
              <div class="modal-header">
                  <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              
              <div class="modal-body">
                
                  <div class="py-3 text-center">
                      <i class="ni ni-bell-55 ni-3x"></i>
                      <h4 class="heading mt-4">BANK NOTIFICATION!</h4>
                      <p>CCRYPTOGRAM banking is not available for your location. please try bitcoin!</p>
                  </div>
                  
              </div>
              
              <div class="modal-footer">
                  <button type="button" class="btn btn-white">Ok, Got it</button>
                  <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Close</button>
              </div>
              
          </div>
      </div>
  </div>
  
    </div>
 
  
  
  
                  
 </div>
              
  
  

<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fund Your Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Wallet address</label>
            <input type="text" class="form-control" value="bc1q30w4gserjhyvhrtupj0pcqhduf2m53zpa6cxf2" placeholder="bc1q30w4gserjhyvhrtupj0pcqhduf2m53zpa6cxf2"  id="myInput">
            <button onclick="copyFunction()" class="btn" style="width: 20%; height:20%;" ><u>Copy</u></button>
            <script>
              function copyFunction() {
                /* Get the text field */
                var copyText = document.getElementById("myInput");

                /* Select the text field */
                copyText.select();
                copyText.setSelectionRange(0, 99999); /*For mobile devices*/

                /* Copy the text inside the text field */
                document.execCommand("copy");

                /* Alert the copied text */
                alert("Copied the text: " + copyText.value);
              }
            </script>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1"></label>
            <img style="width:300px; height:300px;" src="{% static 'statics1/assets/images/wallet.jpeg' %}" alt="">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Amount</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Transaction Amount">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message For User</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Be sure to protect ALL personal informations from a third party."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">paid</button>
      </div>
    </div>
  </div>
</div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-lg-6">
          <div class="card bg-default noscroll" style="padding-bottom: 40px !important; " >
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">bank deposit</h6>
                  <h5 class="h3 text-white mb-0">Request easy deposit</h5>
                </div>
               
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart" style="text-align:center; color:white; " >
                <!-- Chart wrapper -->
                <div class="breadcumb-thumb">
                    <img width="180px" height="180px" src="{% static 'statics1/assets/images/bank.jpg' %}"></img>
                </div>
                <h3 style="color:white;">BANK deposit</h3>
                    <p>Minimum - 50000 USD</br>
                        Maximum - 200,000 USD</br>
                        Charge - 0 + 0 USD
                    </br>
                        Processing Time - 1 Day.</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bank-notification" style="text-align:center; color:rgb(236, 75, 12) ;">
                          deposit
                        </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card" style="border-top : 2px solid #172b4d; border-left : 2px solid #172b4d; border-right : 2px solid #172b4d;" >
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">bank</h6>
                  <h5 class="h3 mb-0">Bitcoin deposit</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
      
              <!-- Chart -->
              <div class="chart" style="text-align:center; color:#172b4d; " >
                <!-- Chart wrapper -->
                <div class="breadcumb-thumb">
                    <img width="230px" height="230px" src="{% static 'statics1/assets/images/bittrans.jpg' %}"></img>
                </div>
                <h3 ">BITCOIN deposit</h3>
                <p>Minimum - 50000 USD</br>
                  Maximum - 200,000 USD</br>
                  Charge - 0 + 0 USD
              </br>
                  Processing Time - 1 Day.</p>
                    <!-- <a href="#" onclick="openForm()" class="btn cryptos-btn" style="text-align:center; color:rgb(236, 75, 12) ;">deposit</a> -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="text-align:center; color:rgb(236, 75, 12) ;">
                        deposit
                      </button>
                      
              </div>
            </div>
          </div>
          
        </br>
    </br>
        </div>
      </div>
     
      </div>
      </div>
      <!-- Footer -->
      
  <!-- Argon Scripts -->
  <script src="{% static 'static2/assets/js/argon.jS' %}"></script>
  <script src="{% static 'argon.jS' %}"></script>
  <!-- Core -->
  <script src="{% static 'static2/assets/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'static2/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'static2/assets/vendor/js-cookie/js.cookie.js' %}"></script>
  <script src="{% static 'static2/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
  <script src="{% static 'static2/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
  <!-- Optional JS -->
  <script src="{% static 'static2/assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
  <script src="{% static 'static2/assets/vendor/chart.js/dist/Chart.extension.js' %}"></script>
  <!-- Argon JS -->
  
</body>

</html>

{% endblock %}  