{% extends 'coinbuzz/base.html' %}
{% load static %}
  {% block content %}

    <!-- breadcumb-area start -->
    <div class="breadcumb-area flex-style  black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>About Us Company</h2>
                    <ul class="d-flex">
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fa fa-angle-double-right"></i></li>
                        <li><span>About Us</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->

    <!-- about-area start -->
    <div class="about-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="about-img">
                        <img src="{% static 'statics1/assets/images/about.jpeg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="about-content">
                        <h3 style="font-size:30px; text-align: center;; ">Join The Ccryptogram Community Today!</h3>
                        <p><p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #3fb0ac;">ccryptogram</b> consists a team of financial market professionals assembled specifically in order to provide the best possible trading conditions to its customers. Our specialists have been involved in the development of technical specification for designing an up-to-date platform that is suitable for both beginners and experienced traders.

                            The undeniable advantage of ccryptogram broker is the elaborate trader’s educational system. By studying our e-books, videos, webinars you can get all information that is needed for successful trading. In addition to training, we provide analytical tools, market reviews, economic calendar and news.
                            
                        </p>
                    
                            <p style="font-size:16px; line-height: 20px; font-family: times;">
                            </br>
                            <b style="font-size: 17px; font-family: times; font-weight: bold; color: #3fb0ac;">Why CCRYPTOGRAM?</b></br>
                              is committed to give an opportunity to as many traders as possible to invest their money in binary options trading. Our main task is to simplify both the trading and the process of getting a profit.
                            
                            Our team operates to make you successful in trading. We practice an individual approach to each client, which is based on our attentive treatment of traders, large variety of assets, large amount of educational materials and a high-quality support.
                            
                            
                            ccryptogram broker benefits
                            
                            The benefits of trading with ccryptogram include:
                            
                            Complete transparency of all transactions. Each trader is in control of his trading account. All transactions on our website are completely transparent;
                            Unique trading platform; ccryptogram leading traders have been involved in its development. It is designed to meet modern security and trading requirements;
                            Individual service for each client. It doesn't matter whether you have had previous experience trading binary options or not. We will guide you through the binary options trading. For this purpose, we provide not only high-quality education, but also interaction with personal managers.
                            
                            </p></p>
                            <b style="font-size: 17px; font-family: times; font-weight: bold; color: #3fb0ac;">What is  CCRYPTOGRAM Reachout?</b></br>
                           
Ccryptogram reachout is a quarterly program where the ccryptogram teams partners with public and popular figures doing good in their area , in order to prove and explain the benefits of both cryptocurrency and investment in general.


The team does this by creating bonus investment plans which may vary for the region and time of occurence. please note that the investment only counts for those brought by the public figure or those in their board of directors.


please confirm with a certified ccryptogram brooker before commencement of any payment as the company will only be accountable for verified investments of customers with updated accounts.

for ENQUIRIES: reach our senior broker on Whatsapp: <a href="#

">+1 (620)-288-2659</a></li>

                          
                          </p></p>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-6">
                            <div class="about-items">
                                <img src="{% static 'statics1/assets/images/about/icon/1.png' %}" alt="">
                                <span class="counter">1454</span>
                                <p>Support Countrie</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="about-items">
                                <img src="{% static 'statics1/assets/images/about/icon/2.png' %}" alt="">
                                <span class="counter">759</span>
                                <p>Bank Support</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="about-items mb-0">
                                <img src="{% static 'statics1/assets/images/about/icon/3.png' %}" alt="">
                                <span class="counter">1250</span>
                                <p>BitCoin ATMs</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="about-items mb-0">
                                <img src="{% static 'statics1/assets/images/about/icon/4.png' %}" alt="">
                                <span class="counter">2391</span>
                                <p>Producers Ready</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-area end -->

    <!-- service-area start -->
    <div class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>Why Choose Bitcoin</h2>
                        <img src="{% static 'statics1/assets/images/line.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="service-wrap">
                        <h3>What We Offer</h3>
                        <p>We provide premium access to crypto trading for both individuals and institutions through high liquidity, reliable order execution and constant uptime.</p>
                        <p>There are many variations of features ccryptogram offers and some of them are.</p>
                        <a href="#">Free Consultation</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="service-items">
                        <span class="flaticon-bitcoin-9"></span>
                        <h3>Order types</h3>
                        <p>ccryptogram offers a suite of order types to give traders the tools they need for every scenario. Discover more about our most advanced Algorithmic orders types.</p>
                    </div>
                    <div class="service-items">
                        <span class="flaticon-profits"></span>
                        <h3>Instant Exchange</h3>
                        <p>ccryptogram offers order books with top tier liquidity, allowing users to easily exchange Bitcoin, Ethereum, EOS, Litecoin, Ripple, NEO and many other digital assets with minimal slippage.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="service-items">
                                <span class="flaticon-exchange-1"></span>
                                <h3>Secure Wallet</h3>
                                <p>Security of user information and funds is our first priority. Learn more about our security features and integrations.</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="service-items">
                                <span class="flaticon-bitcoin-7"></span>
                                <h3>Customizable interface</h3>
                                <p>Organize your workspace according to your needs: compose your layout, choose between themes, and set up notifications.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service-area end -->


    <!-- calculate-area start -->
    <div class="calculate-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="calculate-wrap">
                        <h2>Bitcoin To Currency Calculator...</h2>
                        <p>Use Our Crypto onverter to monitor cryptocurrency pairs.</p>
                        <div class="row">
                            <div class=>
            
                                <div class="currency-calculator mb-15">
                                    <form action="#" method="post" class="d-flex align-items-center justify-content-center">
                                        <!-- Calculator Part -->
                                         <script src="https://cdn.jsdelivr.net/gh/coinponent/coinponent@1.2.6/dist/coinponent.js"></script>
            
                                        <coin-ponent shadow="sm" border-radius="2" token="BTC"></coin-ponent> 
                                        
            
                                        <!-- Equal Sign -->
                                
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- calculate-area start -->

    <!-- footer-area start -->

    {% endblock %}
