{% extends 'coinbuzz/base.html' %}
{% load static %}
  {% block content %}
    <!-- header-area end -->

    <!-- breadcumb-area start -->
    <div class="breadcumb-area flex-style  black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Frequently Asked Questions</h2>
                    <ul class="d-flex">
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fa fa-angle-double-right"></i></li>
                        <li><span>Faq</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->

    <!-- about-area start -->
    <div class="service-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="service-wrappper">
                        
                        <div class="service-contents">
                            <h3><a href="service-details.html">PURCHASING
                                BITCOIN </a></h3>
                                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #3fb0ac;">How to Purchase Bitcoin? </b> We advise all bitcoin purchases should be done from verified vendors like <a href="https://www.coinmama.com" style="color: #3fb0ac;">coinmama</a>,<a href="https://cash.app/" style="color: #3fb0ac;"> Cashapp</a>,<a href="https://localbitcoins.com/" style="color: #3fb0ac;"> Local bitcoin</a> or <a href="https://www.coinbase.com/" style="color: #3fb0ac;">Coinbase</a>.
                                
                                </p>
                            
                                    <p style="font-size:16px; line-height: 20px; font-family: times;">
                                    </br>
                                    <b style="font-size: 17px; font-family: times; font-weight: bold; color: #3fb0ac;">How to purchase bitcoin with coinmama?</b></br>
                                    First, create your account.
                                    Head to Coinmama’s sign-up page to create your account. Fill in your first and last name, email address, and country of residence to get started. You’ll receive an email from us with a link to confirm your account. Click the link to start the verification process.
                                </br>
                                <br>
                                    Next, add your personal details.
                                    Complete the requested form, adding your address, phone number, and date of birth.
                                </br>
                                    Coinmama: add your personal details
                            </br> <br>
                                    Finally, upload your documents.
                                    Choose the ID type you want to upload, based on your country of residence. Photograph the front and back with your cell phone camera, making sure all four corners are visible, and that both the image and text are clear, then upload them to your account.
                        </br>  <br>
                                    Coinmama: Upload documents
                                    
                                    Next, write “Coinmama” and today’s date on a piece of paper. Holding the paper and the ID you’ve just uploaded, take a photograph of yourself. Make sure your face, ID, and paper note are all clearly visible. Then upload the photo to your account.
                    </br>  
                                    Coinmama: Upload selfie
                                    
                                    Once your documents are uploaded, click to submit them. A member of our verification team will review your form and documents, and if everything looks ok, you’ll be approved to buy Bitcoin online with Coinmama, often in as little as fifteen minutes.
                </br><BR>
                                    <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #3fb0ac;">How to purchase bitcoin with Cashapp?</b> You need to set up your Cashapp, so that you’ll be able to use bitcoin. 
                            
                                    Bitcoin is how you withdraw & deposit your money & exchange it into USD easily.
                                <br>
                                    <p style="font-size:16px; line-height: 20px; font-family: times; ">So do this:</p>
                                <p style="font-size:16px; line-height: 20px; font-family: times; ">
                                    • Go to cashapp
                                    • Click the bottom left icon Scroll down
                                    • Click the bitcoin icon that’s blue
                                    • Click the words in blue
                                    • Verify your email
                                    • Click “trading”
                                    • Click “occupation” and put “employed”
                                    • Type “manager at foot locker” or whatever store but include manager
                                    • Then it’ll take about 2 hours to get you verified
                                                                        
                                </p>
                                <br>
                                <p  style="font-size:16px; line-height: 20px; font-family: times; ">open the Cash app and select Cash Card, or just tap on the dollar amount at the top of the screen. Then swipe left and you should see the Bitcoin symbol. Tap on “Buy” and select how much money you want to spend using the slider (you can also swipe up to enter a specific amount). Then hit “Buy BTC” and confirm with your password.</p><br>
                                <p  style="font-size:16px; line-height: 20px; font-family: times; ">Now to send:
                                        hit the icon in the top left corner. Then scroll over to Funds and select Bitcoin. To “Enable Withdrawals” you’ll need to prove your identity by answering some questions in the app. Then tap on “Transfer Out,” confirm it, and scan in the QR code for the wallet address you want to send your Bitcoin too. Finally, hit Confirm again to finish, though it could be a few hours before the transfer is processed.</p>
                                        <br>
                                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #3fb0ac;">OTHER PURCHASING PLATFORMS </b></p> 
                                        <p  style="font-size:16px; line-height: 20px; font-family: times; ">you can also get bitcoin with <a href="https://localbitcoins.com/" style="color: #3fb0ac;"> Local bitcoin</a> or <a href="https://www.coinbase.com/" style="color: #3fb0ac;">Coinbase</a> .</p>

                            </p>
                        </div>
                        
                    </div>
                </div>
              
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="service-wrappper">
                       
                        <div class="service-contents">
                            <h3>OTHER <br><span>QUESTIONS</span></h3>
                            <p> <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #3fb0ac;">How to invest money in an option?

                            </b> <br>
                            <p  style="font-size:16px; line-height: 20px; font-family: times; ">It is very simple. You choose an option, underlying asset, expiry time, type of option (up/down or any other depending on the type of option) and the amount of the investment. After that you just click the "Purchase" button.</p>
                    <br>
                    <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #3fb0ac;">Why I cannot trade?</p>

                        </b> 
                    </br>
                        <p  style="font-size:16px; line-height: 20px; font-family: times; ">Usually you can't place an order for several reasons:<br>

                                your account has insufficient funds for the purchase of contract;<br>
                                the market in which you're underlying asset is being traded is closed at the moment;<br>
                                technical difficulties or lack of communication with the server.</p>
                <br>
                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #3fb0ac;">What is the investment amount?.</p>

                </b> 
                <p  style="font-size:16px; line-height: 20px; font-family: times; ">It is the amount of your investment in an option.</p>
                <br>
                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #3fb0ac;">What are binary options?.</p>

                </b> 
                <p  style="font-size:16px; line-height: 20px; font-family: times; ">Binary options is a derivative financial instruments, the peculiarity of which is in a fixed-income and risk. A trader must determine whether the price of the underlying asset is above or below the current (it is called “the strike price”). You can receive up to 90% per trade. More precise information on the payout can be found in each option. If the option is unprofitable (i.e., your prediction was incorrect), you can lose 100% of the investment. The amount of profit per option does not depend on the number of points that change the value of the underlying asset.</p>
        <br>
                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #3fb0ac;">How to invest money in an option?.</p>

                </b> 
                <p  style="font-size:16px; line-height: 20px; font-family: times; ">It is very simple. You choose an option, underlying asset, expiry time, type of option (up/down or any other depending on the type of option) and the amount of the investment. After that you just click the "Purchase" button.</p>

                <br>
                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #3fb0ac;">An error message tells me I exceeded the Maximum Investment Amount. What should I do?.</p>

                </b> 
                <p  style="font-size:16px; line-height: 20px; font-family: times; ">The maximum investment amount with Ultimate Traders broker is $5000. If you wish to purchase an options for greater amounts than $20000, you will have to purchase an option at this maximum amount, and then purchase an additional option of the same type.</p>
                <br>
                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #3fb0ac;">Do I have to pay tax on the gained profit?.</p>

                </b> 
                <p  style="font-size:16px; line-height: 20px; font-family: times; ">Certain amount of tax is required for this to proceed according to US IRS form 1099 superintendent Financial service.</p><BR>
                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #3fb0ac;">What is an underlying asset? .</p>

                </b> 
                <p  style="font-size:16px; line-height: 20px; font-family: times; ">The underlying asset means a financial instrument (Forex currency pair, stock market’s securities, indices and products of commodities market).</p>
                <BR>
                    <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #3fb0ac;">What happens if the Expiry Level of a Given Asset is identical to the Level at which the Transaction was made?.</p>

                    </b> 
                    <p  style="font-size:16px; line-height: 20px; font-family: times; ">In this event, the amount of the investment is returned to the customer. You do not lose anything but gain nothing either.</p>
                <BR><BR></p>
                        </div>
                        
                    </div>
                </div>
               
               
            </div>
        </div>
    </div>
    <!-- about-area end -->

    <!-- nvestments-area start -->
    
   


    <!-- footer-area start -->
    {% endblock %}