{% extends 'coinbuzz/base.html' %}
{% load static %}
  {% block content %}
    <!-- header-area end -->

    <!-- breadcumb-area start -->
    <div class="breadcumb-area flex-style  black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Special Testimony Page</h2>
                    <ul class="d-flex">
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fa fa-angle-double-right"></i></li>
                        <li><span>Testimony</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->

    <!-- blog-area start -->
    <div class="blog-area">
        <div class="container">
            <div class="row">
                <!-- member area 1 -->
                
                <div class="col-lg-4  col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="{% static 'statics1/assets/images/testimony/14u.jpeg' %}" style="width: 100%; height:200px;"   alt="hi">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Dierks Bentley
                                </a></h3>
                            <ul>
                                <li><a href="#">Nashville,Tennessee, U.S</a></li>
                                <li><a href="#">2 April, 2021</a></li>
                                <li><a href="#">Testimony/ Ambassador </a></li>
                            </ul>
                            <p>I'm Dierks Bentley,A country musicians from Nashville Tennessee I was a newbie on cryptocurrency,when I created an account on CRYPTOGRAM. At first it was very confusing for me, but later thanks to the tool that it has built-in I learned technical analysis and also became a better trade knowing how to time ins and outs, of course, I still have loses because this is a high-risk investment when buying crypto, I've been investing for six months and getting my profits, my wife Cassidy and most of her friends are also investors.
                                I'm glad I was opportune to become a brand ambassador for CRYPTOGRAM,I look forward to more investment and more happy faces.</p>
                            
                        </div>
                    </div>
                </div>

                <!-- member area end -->
                <!-- member area 1 -->
                
                <div class="col-lg-4  col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="{% static 'statics1/assets/images/testimony/12.jpeg' %}" style="width: 100%; height:200px;"   alt="hi">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Sheng Wei
                                </a></h3>
                            <ul>
                                <li><a href="#">1673 Sampson Street
                                    Kiowa,</a></li>
                                <li><a href="#">25 March, 2021</a></li>
                                <li><a href="#">Testimony</a></li>
                            </ul>
                            <p>It is unbelivable. I was able to have $300,000 worth of bitcoin in just 3months and half of trading with ccryptogram. I came across some nice comments about them on YouTube and I gave it a shot! I didn't believe in bitcoin before. This is quite needful for beginners</p>
                            
                        </div>
                    </div>
                </div>

                <!-- member area end -->
                <!-- <div class="col-lg-4  col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="{% static 'statics1/assets/images/testimony/3.jpeg' %}" style="width: 100%; height:200px;"   alt="hi">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Gary B. Womble</a></h3>
                            <ul>
                                <li><a href="#">Westville, CT</a></li>
                                <li><a href="#">2 March, 2021</a></li>
                                <li><a href="#">Testimony</a></li>
                            </ul>
                            <p>It is unbelivble. I was able to have $300,000 worth of bitcoin in just 3months and half of trading with ccryptogram. I came across some nice comments about them on YouTube and I gave it a shot! I didn't believe in bitcoin before. This is quite needful for beginners</p>
                            
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-4  col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="{% static 'statics1/assets/images/testimony/4.jpeg' %}" style="width: 100%; height:200px;"   alt="hi">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Lukas Gaertner</a></h3>
                            <ul>
                                <li><a href="#">1971 Pine Garden Lane
                                    Gainesville, </a></li>
                                <li><a href="#">28 December, 2020</a></li>
                                <li><a href="#">Testimony</a></li>
                            </ul>
                            <p>Anybody that recommended ccryptogram love you 😍 believe me. You know there are a lot of brokers these days, so if not careful you might be ripped but knowing ccryptogram as a newbie is the best thing ever. I love their strategy and methods I withdraw $13500 weekly on Lot Plan. There’s more to the system than I imagined. WhatsApp: +62 (831)-2141-5007

                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="{% static 'statics1/assets/images/testimony/6.jpeg' %}" style="width: 100%; height:200px;"   alt="hi">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Synnøve Bergseth</a></h3>
                            <ul>
                                <li><a href="#">1995 Matthews Street
                                    Dwight, </a></li>
                                <li><a href="#">12 july, 2019</a></li>
                                <li><a href="#">Testimony</a></li>
                            </ul>
                            <p>Life’s good with ccryptogram. That all I have to say. I have a car, a home , an office and investment. ☺💰💰🚀</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="{% static 'statics1/assets/images/testimony/5.jpeg' %}" style="width: 100%; height:200px;"   alt="hi">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Luiz Carvalho Barros</a></h3>
                            <ul>
                                <li><a href="#">2286 Pointe Lane
                                    Miami, FL </a></li>
                                <li><a href="#">22 May, 2019</a></li>
                                <li><a href="#">Testimony</a></li>
                            </ul>
                            <p>ccryptogram has brought me out of the wrenches and to a better living, I encourage newbies to start up. It’s worth investing huge. This period of Covid-19, trading and investment will change a lot of life’s. Mark my words.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="{% static 'statics1/assets/images/testimony/7.jpeg' %}" style="width: 100%; height:200px;"   alt="hi">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">川杉 真美</a></h3>
                            <ul>
                                <li><a href="#">José matía, 22
                                    02154 Villavaliente</a></li>
                                <li><a href="#">19 Febuary, 2019</a></li>
                                <li><a href="#">Testimony</a></li>
                            </ul>
                            <p>Without the help of ccryptogram platform I would have still been in abject poverty struggling with life, have been scammed over $10,000 before. That was a great loss to me!. I’m very grateful to this platform, at least I had withdrawn $7000 from basic plan. And I recommend all those out there who are confused about crypto trading or make low profit to join this great platform.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="{% static 'statics1/assets/images/testimony/8.jpeg' %}" style="width: 100%; height:200px;"   alt="hi">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Anna Costa Rocha</a></h3>
                            <ul>
                                <li><a href="#">Anna Costa Rocha</a></li>
                                <li><a href="#">12 Decamber, 2018</a></li>
                                <li><a href="#">Testimony</a></li>
                            </ul>
                            <p>When things work, people will always speak for them. For me I’d say, give ccryptogram an applause and a try and thank me later. They have been managing my account, it’s techniques is marvelous, made me see crypto trading from another angle. I keep making and withdrawing monthly profits.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="{% static 'statics1/assets/images/testimony/9.jpeg' %}" style="width: 100%; height:200px;"   alt="hi">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Marco Wulf</a></h3>
                            <ul>
                                <li><a href="#">Puerta Nueva, </a></li>
                                <li><a href="#">2 july, 2018</a></li>
                                <li><a href="#">Testimony</a></li>
                            </ul>
                            <p>Thanks to you all for your testimonies, it has helped me greatly. I thought the were not real but I will now boldly testify. I don’t know 🤷‍♂ the strategy ccryptogram uses, but whatever it is. It’s Awesome 😎 👏. My profit on Lot Plan last week was boom. username: nuevapuer</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="{% static 'statics1/assets/images/testimony/13.jpeg' %}" style="width: 100%; height:200px;"   alt="hi">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Vitor Alves Lima</a></h3>
                            <ul>
                                <li><a href="#">Aarslands gate 115</a></li>
                                <li><a href="#">2 May, 2018</a></li>
                                <li><a href="#">Testimony</a></li>
                            </ul>
                            <p>This is legit and works magical. I keep making $5000 every week on Standard Plan. ccryptogram is a wonderful platform heading to the moon 🚀. username:vitor1</p>
                            
                        </div>
                    </div>
                </div>
                
               
               








            </div>
        </div>
    </div>
    <!-- blog-area end -->

    <!-- footer-area start -->
    {% endblock %}